/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}



/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'alex_brushregular', Arial, sans-serif;
}



@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.eot');
    src: url('alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('alexbrush-regular-webfont.woff') format('woff'),
         url('alexbrush-regular-webfont.ttf') format('truetype'),
         url('alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




